body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .form-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #3e8e41;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  textarea {
    resize: vertical;
  }
  
  .submit-button {
    background-color: #3e8e41;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
  }
  
  .submit-button:hover {
    background-color: #2f6e30;
  }
  
  #statusMessage {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    color: green;
  }
  

  .progress-container {
    margin-top: 20px;
    background-color: #f3f3f3;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .progress-bar {
    height: 100%;
    width: 0%;
    background-color: #3e8e41;
    border-radius: 5px;
    transition: width 0.2s ease;
  }
  
  #progressText {
    position: absolute;
    color: #fff;
    font-weight: bold;
  }
  